.app {
    text-align: center;
}

.header {
    height: 10em;
    padding: 2em;
    animation: fade-in 1s ease-in;
}

.main {
    padding: 1em;
    animation: fade-in 2s linear;
}

.text-view {
    padding: 0.5em;
    font-size: 18px;
    font-family: sans-serif;
    overflow-y: scroll;
    overflow-wrap: break-word;
    color: gray;
    text-align: left;
    justify-content: left;
    border: 1px solid gray;
}

.generation-modal {
    text-align: center;
    min-width: 45%;
    padding-top: 5%;
}

.confirmation-modal {
    text-align: center;
    min-width: 40%;
    padding-top: 8%;
    white-space: pre;
}

.form-control {
    width: auto;
}

.modal-header {
    color: white;
    background-color: #358753;
    border: 2px #2B6E44 solid;
}

.modal-footer {
    text-align: center;
    background-color: #E7E7E7;
    border: 2px #CECECE solid;
}

.logo {
    height: 3em;
    padding-left: 1em;
    animation: expand-logo 1s linear;
}

.spinning-logo {
    animation: spin infinite 1s linear;
    height: 1.6em;
}

.spinning-logo-loading {
    animation: spin infinite 2s ease;
    animation-direction: alternate;
    height: 3em;
}

.flipped {
    transform: rotate(180deg);
}

.expanding-source-view {
    height: 200px;
    animation: expand-source-view 0.5s ease-out;
}

@keyframes expand-source-view {
    from {
        height: 0;
    }
    to {
        height: 200px;
    }
}

@keyframes expand-output-view {
    from {
        height: 0;
    }
    to {
        height: 186px;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes expand-logo {
    from {
        height: 0;
        transform: rotate(720deg);
    }
    to {
        height: 3em;
        transform: rotate(0deg);
    }
}
